@import url('./assets/fonts/fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-sans: 'BeVietnamPro-Regular', sans-serif;
  --font-thin: 'BeVietnamPro-Thin', sans-serif;
  --font-light: 'BeVietnamPro-Light', sans-serif;
  --font-medium: 'BeVietnamPro-Medium', sans-serif;
  --font-semibold: 'BeVietnamPro-SemiBold', sans-serif;
  --font-bold: 'BeVietnamPro-Bold', sans-serif;
  --font-extrabold: 'BeVietnamPro-ExtraBold', sans-serif;
  --font-black: 'BeVietnamPro-Black', sans-serif;
}
